AIChat.json
{
  "name": "AIChat",
  "nodes": [
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "id": "c802434f-46f5-4f35-a469-8db786f7f01c",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        608,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "e00PFbzUaeFMHuFL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with local LLMs using n8n and Ollama\nThis n8n workflow allows you to seamlessly interact with your self-hosted Large Language Models (LLMs) through a user-friendly chat interface. By connecting to Ollama, a powerful tool for managing local LLMs, you can send prompts and receive AI-generated responses directly within n8n.\n\n### How it works\n1. When chat message received: Captures the user's input from the chat interface.\n2. Chat LLM Chain: Sends the input to the Ollama server and receives the AI-generated response.\n3. Delivers the LLM's response back to the chat interface.\n\n### Set up steps\n* Make sure Ollama is installed and running on your machine before executing this workflow.\n* Edit the Ollama address if different from the default.\n",
        "height": 473,
        "width": 485
      },
      "id": "8dbdeb8d-0f8b-448c-bcd8-08db4898056f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Ollama setup\n* Connect to your local Ollama, usually on http://localhost:11434\n* If running in Docker, make sure that the n8n container has access to the host's network in order to connect to Ollama. You can do this by passing `--net=host` option when starting the n8n Docker container",
        "height": 258,
        "width": 368,
        "color": 6
      },
      "id": "6fba22e5-1db2-4cb0-8496-27d9ce400144",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=Tu es Astra, assistant du Musée Astral Nova.\n\nLe Musée Astral Nova est un musée fictif sur l’astrologie, les constellations et les mythes célestes.\n\nTon rôle :\n1. Répondre au client de façon claire et professionnelle.\n2. Préparer un message interne pour l’équipe de vente.\n\nImportant :\n- Réponds uniquement avec les deux sections ci-dessous.\n- Ne fais pas de JSON.\n- Ne change jamais les titres CLIENT_MESSAGE et SALES_MESSAGE.\n- Si le client veut réserver mais qu’il manque des informations, demande les informations manquantes.\n- Pour réserver, il faut : nom, email, date, heure, nombre de personnes.\n- Les horaires possibles sont : 10:00, 11:30, 14:00, 15:30, 17:00.\n- Le musée est fermé le lundi.\n- Ne confirme jamais une réservation définitivement.\n- Dis plutôt que la demande de réservation a été transmise à l’équipe.\n\nInformations musée :\n- Nom : Musée Astral Nova\n- Adresse : 18 Rue des Constellations, Paris\n- Durée de visite : 1h15\n- Prix adulte : 14€\n- Prix étudiant : 10€\n- Prix enfant : 8€\n\nMessage du client :\n{{ $json.chatInput }}\n\nFormat obligatoire :\n\nCLIENT_MESSAGE:\nTexte à envoyer au client.\n\nSALES_MESSAGE:\nTexte interne à envoyer à l’équipe de vente."
            }
          ]
        }
      },
      "id": "f64eddc2-f865-4097-977b-006d9bbb2599",
      "name": "Chat LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        608,
        256
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "const text =\n  $json.text ||\n  $json.output ||\n  $json.response ||\n  $json.message ||\n  \"\";\n\nconst clientMatch = text.match(/CLIENT_MESSAGE:\\s*([\\s\\S]*?)\\s*SALES_MESSAGE:/i);\nconst salesMatch = text.match(/SALES_MESSAGE:\\s*([\\s\\S]*)/i);\n\nreturn [\n  {\n    json: {\n      client_message: clientMatch ? clientMatch[1].trim() : text.trim(),\n      sales_message: salesMatch ? salesMatch[1].trim() : \"Aucun message interne généré.\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        208
      ],
      "id": "9807555c-3c7f-4cb0-aacd-68bead9f8713",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "message": "={{ $json.client_message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1184,
        112
      ],
      "id": "51cb60f8-9db1-41b4-9611-3fa5fccb0e30",
      "name": "Chat",
      "webhookId": "c09655e5-0f22-4a13-8f88-1ce521e86571"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1499084084138217482/W6caypZ_B-FhpdHA_k94dz0CfBF4omdzJJFe6yQIUaFiNpKtudTW-xcBUqrN5su7ph15",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.sales_message) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        304
      ],
      "id": "696146fb-5fda-4f09-939f-3132fb63c8ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        432,
        256
      ],
      "id": "71378732-fc07-4e9e-935f-fb24d1dda35b",
      "name": "When chat message received",
      "webhookId": "375e926e-1c08-4175-95c6-cb1af4df80b5"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a6d1ac2c-71e5-411f-893f-4effcf1bd813",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "980c24a176fcc37d984f79d7f5f99837e7e8b083813a134c6fe0d2a0c621faf7"
  },
  "id": "JxnMe16jm7AgHRRC",
  "tags": []
}